tornado>=6.1,<6.2
-e git+https://github.com/waghanza/-e git+https://github.com/waghanza/gunicorn@remove_outdated_condition#egg=gunicorn@remove_outdated_condition#egg=-e git+https://github.com/waghanza/gunicorn@remove_outdated_condition#egg=gunicorn
