<?xml version="1.0" encoding="UTF-8"?>
<configuration>

  <statusListener class="ch.qos.logback.core.status.NopStatusListener" />

  <!-- Send debug messages to System.out -->
  <appender name="STDOUT" class="ch.qos.logback.core.ConsoleAppender">
    <!-- By default, encoders are assigned the type ch.qos.logback.classic.encoder.PatternLayoutEncoder -->
    <withJansi>true</withJansi>
    <encoder>
      <pattern>%date %highlight(%-5level) %cyan(%logger{5}@[%-4.30thread]) - %msg%n</pattern>
    </encoder>
  </appender>

  <!-- Send debug messages to a file at "c:/jcg.log" -->
  <appender name="FILE" class="ch.qos.logback.core.rolling.RollingFileAppender">
    <file>act.log</file>
    <encoder class="ch.qos.logback.classic.encoder.PatternLayoutEncoder">
      <Pattern>%d{yyyy-MM-dd_HH:mm:ss.SSS} [%thread] %-5level %logger{36} - %msg%n</Pattern>
    </encoder>

    <rollingPolicy class="ch.qos.logback.core.rolling.FixedWindowRollingPolicy">
      <FileNamePattern>/act.%i.log.zip</FileNamePattern>
      <MinIndex>1</MinIndex>
      <MaxIndex>10</MaxIndex>
    </rollingPolicy>

    <triggeringPolicy class="ch.qos.logback.core.rolling.SizeBasedTriggeringPolicy">
      <MaxFileSize>2MB</MaxFileSize>
    </triggeringPolicy>
  </appender>

  <!-- Access log file -->
  <appender name="ACCESS_LOG_FILE" class="ch.qos.logback.core.rolling.RollingFileAppender">
    <file>access.log</file>
    <encoder class="ch.qos.logback.classic.encoder.PatternLayoutEncoder">
      <Pattern>%msg%n</Pattern>
    </encoder>

    <rollingPolicy class="ch.qos.logback.core.rolling.FixedWindowRollingPolicy">
      <FileNamePattern>/access.%i.log.zip</FileNamePattern>
      <MinIndex>1</MinIndex>
      <MaxIndex>10</MaxIndex>
    </rollingPolicy>

    <triggeringPolicy class="ch.qos.logback.core.rolling.SizeBasedTriggeringPolicy">
      <MaxFileSize>2MB</MaxFileSize>
    </triggeringPolicy>
  </appender>

  <!-- Handler invocation trace file -->
  <appender name="TRACE_FILE" class="ch.qos.logback.core.rolling.RollingFileAppender">
    <file>trace.log</file>
    <encoder class="ch.qos.logback.classic.encoder.PatternLayoutEncoder">
      <Pattern>%d{yyyy-MM-dd_HH:mm:ss.SSS} - %msg%n</Pattern>
    </encoder>

    <rollingPolicy class="ch.qos.logback.core.rolling.FixedWindowRollingPolicy">
      <FileNamePattern>/trace.%i.log.zip</FileNamePattern>
      <MinIndex>1</MinIndex>
      <MaxIndex>10</MaxIndex>
    </rollingPolicy>

    <triggeringPolicy class="ch.qos.logback.core.rolling.SizeBasedTriggeringPolicy">
      <MaxFileSize>2MB</MaxFileSize>
    </triggeringPolicy>
  </appender>

  <appender name="METRIC_FILE" class="ch.qos.logback.core.rolling.RollingFileAppender">
    <file>act.metric.log</file>
    <encoder class="ch.qos.logback.classic.encoder.PatternLayoutEncoder">
      <Pattern>%d{yyyy-MM-dd_HH:mm:ss.SSS} [%thread] %-5level %logger{36} - %msg%n</Pattern>
    </encoder>

    <rollingPolicy class="ch.qos.logback.core.rolling.FixedWindowRollingPolicy">
      <FileNamePattern>/jcg.%i.log.zip</FileNamePattern>
      <MinIndex>1</MinIndex>
      <MaxIndex>10</MaxIndex>
    </rollingPolicy>

    <triggeringPolicy class="ch.qos.logback.core.rolling.SizeBasedTriggeringPolicy">
      <MaxFileSize>2MB</MaxFileSize>
    </triggeringPolicy>
  </appender>

  <logger name="act" level="OFF" additivity="false">
    <appender-ref ref="FILE" />
    <appender-ref ref="STDOUT" />
  </logger>

  <logger name="act.db" level="OFF" additivity="false">
    <appender-ref ref="FILE" />
  </logger>

  <logger name="act.ws" level="OFF" additivity="false">
    <appender-ref ref="FILE"/>
    <appender-ref ref="STDOUT"/>
  </logger>

  <logger name="act.mail" level="OFF" additivity="false">
    <appender-ref ref="FILE"/>
  </logger>

  <logger name="act.test" level="INFO" additivity="false">
    <appender-ref ref="STDOUT"/>
  </logger>

  <logger name="metric.act" level="OFF">
    <appender-ref ref="METRIC_FILE" />
  </logger>

  <logger name="metric.app" level="OFF">
    <appender-ref ref="METRIC_FILE" />
  </logger>

  <!-- By default, the level of the root level is set to DEBUG -->
  <root level="OFF">
    <appender-ref ref="STDOUT" />
  </root>
</configuration>
