framework:
  website: hyperf.io
  version: 3.0

  engines:
    - swoole

  extensions:
    - redis

  bootstrap:
    - echo "swoole.use_shortname = 'Off'" >> /usr/local/etc/php/conf.d/docker-php-ext-swoole.ini
    - php sbin/hyperf.php

  command: php sbin/hyperf.php start
