/javascript/0http/ @jkyberneees
/javascript/restana/ @jkyberneees
/javascript/fastify @mcollina

/go/router/ @savsgio
/go/atreugo/ @savsgio
/go/fasthttp/ @savsgio
/go/fiber/ @Fenny
/go/webgo/ @bnkamalesh
/go/air/ @aofei
/go/gearbox/ @muhammednagy
/go/clevergo/ @razonyang
/go/mars/ @roblillack
/go/goyave/ @System-Glitch

/ruby/roda/ @jeremyevans
/ruby/pakyow/ @bryanp
/ruby/grape/ @dblock

/python/quart/ @pgjones
/python/sanic/ @ahopkins
/python/fastapi/ @tiangolo
/python/tonberry/ @Ayehavgunne
/python/asgineer/ @almarklein

/swift/vapor-framework @0xTim

/php/siler/ @leocavalcante
/php/siler-swoole/ @leocavalcante
/php/mark/ @passwalls
/php/hyperf/ @limingxinleo @huangzhhui
/php/chubbyphp-roadrunner/ @dominikzogg
/php/chubbyphp-swoole/ @dominikzogg
/php/chubbyphp-workerman/ @dominikzogg
/php/chubbyphp/ @dominikzogg
/php/codeigniter4/ @michalsn
/php/fastsitephp/ @ConradSollitt
/php/spiral/ @wolfy-j @48d90782
/php/slim-roadrunner/ @l0gicgate
/php/slim-swoole/ @l0gicgate
/php/slim/ @l0gicgate

/fsharp/saturn/ @Krzysztof-Cieslak

/nim/whip/ @mattaylor

/crystal/runcobo/ @shootingfly

/java/struts2/ @lukaszlenart
/java/light-4j/ @tsuilouis @stevehu

/crystal/orion/ @jwaldrip

/rust/actix-web/ @robjtede @JohnTitor
/rust/gotham/ @sezna @msrd0 @colinbankier

/swift/vapor-framework @0xTim
/swift/swifter-framework @Vkt0r
