framework:
  github: itsumura-h/nim-basolato
  version: 0.14

  deps:
    - gcc
    - musl-dev
    - bsd-compat-headers
    - openssl
    - openssh-client
    - pcre-dev

  build_command: "ducere build -p 3000"

  command: "./startServer.sh"

  custom_files:
    - main
    - startServer.sh

language:
  files:
    - main
    - "**/*.json"
    - config.nims
    - "**/*.nim"
    - "**/*.nimble"
    - "**/*.cfg"

