root = true

[*]
indent_style = space
indent_size = 4
end_of_line = lf
insert_final_newline = true
trim_trailing_whitespace = true

# yaml use space as indentation structure
# @see http://yaml.org/spec/1.2/spec.html#id2777534
[*.yml]
indent_style = space
indent_size = 2
