# Developer content

.DS_Store
*.swp
*.lock

.neph
neph.yaml
shard.lock

# git temporary files
*.orig

# GoLand IDE
.idea

# Rust build directories
rust/*/target

#fsharp
launchSettings.json
.vs
obj
[Bb]in/
[Oo]bj/
[Dd]ebug/
[Rr]elease/
*.fsproj
*.fsproj.user
