# Developer content

.DS_Store
*.swp

.neph
neph.yaml
shard.lock

# git temporary files
*.orig

# GoLand IDE
.idea

# Temporary files
FRAMEWORKS.yaml
*/*/Dockerfile
*/*/ip.txt

/lib
/bin

# Rust build directories
rust/*/target

# User data
# For cloud-init
**/**/user_data.yml
