parameters:
  debug: true
  config_cache_enabled: false
  monolog:
    handlers:
      default:
        options:
          level: 0

services:
  Antidot\Application\Http\Response\ErrorResponseGenerator:
    class: Antidot\Application\Http\Response\ServerRequestErrorResponseGenerator
    arguments:
      $devMode: 'true'
