framework:
  website: vertx.io/docs/vertx-web/java/
  version: 4.5

  files:
    - target/server.jar

  binaries:
    - target/server.jar

  command: /usr/bin/java -jar /opt/web/target/server.jar -instances `nproc`
