language:
  version: ES2019

  engines:
    node:
      environment:
        NODE_ENV: production
      bootstrap:
        - npm --location=global install pm2
        - npm install
      command: pm2-runtime start app.js -i $(nproc)
    turbo:
      environment:
        NODE_ENV: production
      bootstrap:
        - npm install
      command: node app.js
    uwebsockets:
      deps:
        - git
        - gcompat
      environment:
        NODE_ENV: production
        EXPERIMENTAL_FASTCALL: 1
      bootstrap:
        - npm --location=global install pm2
        - npm install
      command: pm2-runtime start app.js -i $(nproc)
    deno:
      deps:
        - npm
      bootstrap:
        - npm -g install pm2
      command: nohup pm2-runtime start "deno run app.ts --allow-net --allow-read" -i max
    bun:
      deps:
        - npm
      bootstrap:
        - npm -g install pm2
        - bun install
      command: nohup pm2-runtime start "NODE_ENV=production bun app.ts" -i max

framework:
  engines:
    - node

  files:
    - "**/*.js"
    - "**/*.ts"
    - "**/*.json"
