framework:
  github: chubbyphp/chubbyphp-framework
  version: 4.1

environment:
  CFLAGS: "$CFLAGS -D_GNU_SOURCE"
  
build_deps:
  - libevent-dev
  - openssl-dev

php_mod:
  - pcntl
  - sockets

php_ext:
  - event

command: php public/index.php start
