# Ignore build directories
/build/
/target/

# Ignore IDE specific files
/.idea/
/*.iml
/*.ipr
/*.iws

# Ignore Maven specific files
/.mvn/
/.mvn/wrapper/maven-wrapper.jar

# Ignore temporary files
*.log
*.tmp
*.swp
*.pid
*.out
*.pid.lock
*.act.*

# Ignore OS specific files
.DS_Store
Thumbs.db