framework:
  github: actframework/actframework
  version: 1.9

language:
  version: 11

build:
  - mvn package
  - mv target/dist/benchmark-1.0.0-*.tar.gz target/dist/benchmark-1.0.0.tar.gz

fix:
  - ln -sfv /usr/local/openjdk-11/bin/java /usr/bin/java

binaries:
  - target/dist/benchmark-1.0.0.tar.gz

bootstrap:
  - tar -xvzf target/dist/benchmark-1.0.0.tar.gz

command: /opt/web/run
