framework:
  github: actframework/actframework
  version: 1.9

language:
  version: 11

  image: maven:3.9.0-eclipse-temurin-11-focal

  runtime: eclipse-temurin:11-focal

  build:
    - mvn package
    - mv target/dist/benchmark-1.0.0-*.tar.gz target/dist/benchmark-1.0.0.tar.gz

  fix:
    - ln -sfv /usr/local/openjdk-11/bin/java /usr/bin/java

  binaries:
    - target/dist/benchmark-1.0.0.tar.gz

  bootstrap:
    - tar -xvzf target/dist/benchmark-1.0.0.tar.gz

  command: /opt/web/run
