language:
  version: 11

framework:
  github: actframework/actframework
  version: 1.9

  build:
    - mvn package
    - mv target/dist/benchmark-1.0.0-*.tar.gz target/dist/benchmark-1.0.0.tar.gz

  binaries:
    - target/dist/benchmark-1.0.0.tar.gz

  bootstrap:
    - tar -xvzf target/dist/benchmark-1.0.0.tar.gz

  command: /opt/web/run
