[package]
name = "server"
version = "0.1.0"
edition = "2021"

[dependencies]
poem = "~1.3.0"
tokio = { version = "~1.23.0", features = ["rt-multi-thread", "macros"] }

[profile.release]
codegen-units = 1
opt-level = 3
lto = true
incremental = false
