framework:
  website: quarkus.io
  version: 2.15

build:
  - mvn clean package -Dquarkus.package.type=uber-jar -Dquarkus.http.port=3000 -Pnative

binaries:
  - target/quarkus-1.0.0-runner.jar

command: /usr/local/openjdk-17/bin/java -XX:+UseNUMA -XX:+UseParallelGC  -jar /opt/web/target/quarkus-1.0.0-runner.jar
