framework:
  website: quarkus.io
  version: '3.10'

  build:
    - mvn clean package -Dquarkus.package.type=uber-jar -Dquarkus.http.port=3000

  binaries:
    - target/quarkus-1.0.0-runner.jar

  command: java -jar /opt/web/target/quarkus-1.0.0-runner.jar
