framework:
  website: quarkus.io
  version: 2.1

build:
  - mvn clean package -Dquarkus.package.type=uber-jar -Dquarkus.http.port=8080 -Pnative

binaries:
  - target/quarkus-1.0.0-runner.jar

command: /usr/bin/java -XX:+UseNUMA -XX:+UseParallelGC -XX:+AggressiveOpts -jar /opt/web/target/quarkus-1.0.0-runner.jar
