# Exit build if no modification found
before_install: bash .ci/has_to_run.sh || travis_terminate 0

services:
  - docker # Use docker to containerize frameworks
  - postgresql # Use postgresql to store data

dist: bionic

# This tool is written in crystal
language: crystal

env:
  global:
    - DATABASE_URL=postgresql://postgres@localhost/benchmark
  jobs:
    {{#frameworks}}
      - FRAMEWORK={{.}}
    {{/frameworks}}

before_script:
  - psql -c 'CREATE DATABASE benchmark;' -U postgres;
  - psql -U postgres -d benchmark < .ci/dump.sql

script:
  - shards install
  - shards build
  - bin/make config --without-sieger --keep
  - travis_wait travis_retry bin/neph ${FRAMEWORK} --mode=CI
  - sleep 5
  - crystal spec

# Push on docker registry if tests are OK
# This does not work on forks
#after_success: if [ ${TRAVIS_REPO_SLUG} == "the-benchmarker/web-frameworks" ]; then bash .ci/docker_release.sh ; fi

notifications:
  email: false
