framework:
  website: sparkjava.com
  version: 2.9

  build:
    - mvn clean package

  binaries:
    - target/benchmark-1.0.0-jar-with-dependencies.jar

  command: >
    /usr/bin/java -server
    -XX:+UseNUMA -XX:+UseParallelGC -XX:-UseBiasedLocking -XX:+UseStringDeduplication
    -jar target/benchmark-1.0.0-jar-with-dependencies.jar the.benchmarker.Main
