language:
  version: 99

framework:
  website: kore.io
  version: 3.3

  download:
    - wget -c https://github.com/jorisvink/kore/archive/3.3.1-release.tar.gz
    - tar -xvf 3.3.1-release.tar.gz
    - cd kore-3.3.1-release && TASKS=1 NOTLS=1 make && make install

  build:
    - cd hello && kodev build
    - mv /usr/local/bin/kore kore
    - mv hello/hello.so .

  build_deps:
    - libssl-dev

  bin_deps:
    - openssl

  binaries:
    - kore
    - hello.so

  command: /opt/web/kore -f -n -r -c /opt/web/hello/conf/hello.conf
