framework:
  website: masoniteproject.com
  version: 4.8
 
build_deps:
  - libffi-dev
  - curl
  - libssl-dev

command: >
  gunicorn  \
    --log-level warning  \
    --bind 0.0.0.0:3000  \
    --reuse-port  \
    --workers $(nproc)  \
    --worker-class meinheld.gmeinheld.MeinheldWorker \
      wsgi:application
