framework:
  website: masoniteproject.com
  version: 2.3

build_deps:
  - libffi-dev
  - openssl-dev

fixes:
  - pip install pendulum==2.0.5

command: >
  gunicorn  \
    --log-level warning  \
    --bind 0.0.0.0:3000  \
    --reuse-port  \
    --workers $(nproc)  \
    --worker-class meinheld.gmeinheld.MeinheldWorker \
      wsgi
