framework:
  website: masoniteproject.com
  version: 3.0

build_deps:
  - libffi-dev
  - openssl-dev
  - curl

fixes:
  - curl https://sh.rustup.rs > init.sh
  - sh init.sh -y
  - find $HOME/.cargo/bin -type f -exec install {} /usr/local/bin \;
  - rustup default nightly

command: >
  gunicorn  \
    --log-level warning  \
    --bind 0.0.0.0:3000  \
    --reuse-port  \
    --workers $(nproc)  \
    --worker-class meinheld.gmeinheld.MeinheldWorker \
      wsgi
