[package]
name = "server"
version = "0.1.0"
edition = "2021"
publish = false

[dependencies]
axum = "0.6.0"
tokio = { version = "1.15.0", features = ["macros", "rt-multi-thread"] }

[profile.release]
codegen-units = 1
opt-level = 3
lto = true
incremental = false
