<?xml version="1.0"?>
<psalm
    cacheDirectory="./.psalm-cache"
    xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
    xmlns="https://getpsalm.org/schema/config"
    xsi:schemaLocation="https://getpsalm.org/schema/config vendor/vimeo/psalm/config.xsd"
    errorLevel="1"
    findUnusedPsalmSuppress="true"
    findUnusedCode="true"
    findUnusedBaselineEntry="true"
    errorBaseline="psalm-baseline.xml"
>
    <issueHandlers>
        <MissingOverrideAttribute>
            <errorLevel type="suppress">
                <directory name="src" />
                <directory name="test" />
            </errorLevel>
        </MissingOverrideAttribute>
    </issueHandlers>

    <projectFiles>
        <directory name="src"/>
        <directory name="test"/>
        <ignoreFiles>
            <directory name="vendor"/>
        </ignoreFiles>
    </projectFiles>
    <plugins>
        <pluginClass class="Psalm\PhpUnitPlugin\Plugin"/>
    </plugins>
</psalm>
