language:
  version: "weekly.2026.06"
  files:
    - "**/*.v"
    - server
  bootstrap:
    - cd /opt/vlang && git fetch --all --tags && git checkout weekly.2026.06 && make && v -version && cd /app
  build_flags:

  engines:
    default:
      command: /app/server

framework:
  engines:
    - default
