language:
  version: 2024.24
  files:
    - "**/*.v"
    - server
  bootstrap:
    - cd /opt/vlang && git fetch --all --tags && git checkout tags/weekly.2024.24 && make && v -version && cd /app
  build_flags:
    - -prod -cc gcc

  engines:
    default:
      command: /app/server

framework:
  engines:
    - default
