[package]
name = "server"
version = "0.0.0"
edition = "2018"

[dependencies]
rocket = "0.5.0-rc"

[profile.release]
opt-level = 3
debug = false
debug-assertions = false
overflow-checks = false
lto = true
panic = "abort"
incremental = false
codegen-units = 1
rpath = false
strip = false
