[package]
name = "server"
version = "0.1.0"
edition = "2021"
authors = ["Chrislearn Young <chrislearn@hotmail.com>"]

[dependencies]
salvo = { version = "~0.17.0" }

[profile.release]
codegen-units = 1
opt-level = 3
lto = true
incremental = false
