framework:
  website: micronaut.io
  version: 3.0

  image: gradle:7-jdk17

  build:
    - gradle build --project-cache-dir ~/.gradle

  patch:
    - USER root
    - RUN chown -R gradle .
    - USER gradle

  files:
    - build.gradle

  binaries:
    - build/distributions/web-0.1.tar

  bootstrap:
    - tar -xvf build/distributions/web-0.1.tar

  command: /opt/web/web-0.1/bin/web
