language:
  version: "3.10"

  engines:
    cheroot:
      command: ""
    tornado:
      command: ""
    twisted:
      build_deps:
        - gcc
      command: twistd --python=server.py --nodaemon
    greenlet:
      build_deps:
        - gcc
        - libev-dev
    gunicorn:
      build_deps:
        - gcc
      bootstrap:
        - pip install gunicorn
      environment:
        WORKER_CLASS: async
      command: >
        gunicorn --log-level warning  \
          --bind 0.0.0.0:3000  \
          --reuse-port  \
          --workers $(nproc) \
          --worker-class ${WORKER_CLASS} \
          server:app
    bjoern:
      build_deps:
        - gcc
        - libev-dev
    uwsgi:
      build_deps:
        - gcc
        - libpcre3-dev
      bootstrap:
        - pip install https://projects.unbit.it/downloads/uwsgi-lts.tar.gz # prefer lts version
      command: uwsgi --http 0.0.0.0:3000 --module server:app
    waitress:
      bootstrap:
        - pip install waitress
      command: waitress-serve --host=0.0.0.0 --port=3000 server:app
    uvicorn:
      bootstrap:
        - pip install uvicorn[standard]
      command: uvicorn --host 0.0.0.0 --port 3000 --workers $(nproc) server:app
    hypercorn:
      bootstrap:
        - pip install hypercorn
      command: hypercorn --bind 0.0.0.0:3000 --workers $(nproc) server:app
    daphne:
      bootstrap:
        - pip install daphne
      command: daphne -b 0.0.0.0 -p 3000 server:app

framework:
  engines:
    - gunicorn
  files:
    - "**/*.py"
    - requirements.txt
