framework:
  website: robyn.tech
  github: sparckles/robyn
  version: 0.55

  engines:
    - robyn

language:
  engines:
    robyn:
      command: python /usr/src/app/server.py --workers=$(nproc) --processes=$(nproc) --log-level=CRITICAL
