framework:
  github: chubbyphp/chubbyphp-framework
  version: 4.2

environment:
  CFLAGS: "$CFLAGS -D_GNU_SOURCE"

php_mod:
  - sodium
  - sockets

deps:
  - libsodium-dev

before_command:
  - ./vendor/bin/rr get-binary

command: ./rr serve
