language:
  version: 5.43
  files:
    - "**/*.psgi"
    - "**/*.pl"
    - cpanfile
  engines:
    gazelle:
      bootstrap:
        - cpanm --install Gazelle --notest
      command: plackup -s Gazelle --port 3000 --env production --app d2app.psgi

framework:
  engines:
    - gazelle
