framework:
  website: antidotfw.io
  github: antidot-framework/react-framework
  version: 1.0
  
build_deps:
  - libevent-dev
  - icu-dev
  - openssl-dev

php_ext:
  - event

php_mod:
  - intl
  - pcntl
  - sockets

before_command:
  - mkdir -p var/cache && chmod 777 var/cache
  - mkdir -p var/log && chmod 777 var/log

command: bin/console server:run --quiet
