framework:
  website: restheart.org
  version: 6.6

build:
  - mvn package

files:
  - restheart.yml

environment:
  RH_IO_THREADS: 1
  RH_WORKER_THREADS: 4

binaries:
  - target/benchmark.jar
  - restheart.yml

command: /usr/bin/java -XX:-RelaxAccessControlCheck -XX:+UseNUMA -XX:+UseParallelGC  -jar /opt/web/target/benchmark.jar /opt/web/restheart.yml
