framework:
  website: restheart.org
  version: 7.3

build:
  - mvn package

binaries:
  - target/benchmark.jar
  - etc/conf-overrides.yml

command: /usr/bin/java -XX:-RelaxAccessControlCheck -XX:+UseNUMA -XX:+UseParallelGC  -jar /opt/web/target/benchmark.jar -o /opt/web/etc/conf-overrides.yml
