framework:
  website: restheart.org
  version: 8.0.1s

  build:
    - mvn package

  binaries:
    - etc/conf-overrides.yml
    - target/benchmark.jar

  files:
    - etc/conf-overrides.yml

  command: /usr/bin/java -jar /opt/web/target/benchmark.jar -o /opt/web/etc/conf-overrides.yml
